<h1>Upload</h1>
<p>Select the proper IMDB reference:</p>

<%= form_tag( { :controller => 'upload', :action => 'lookup' }, :method => 'post') do -%>
	<% @folders.each do |folder| %>
		<h3><%= folder %></h3>

		<% search_imdb(folder.to_s).each do |i_title, i_id| %>
			<input type="radio" name="<%= folder %>" value="<%= i_id %>" <% if ((@counter / 3) % 1 == 0) %>checked="yes"<% end %> ><a href="http://www.imdb.com/title/<%= i_id %>/" target="_blank"><%= i_title %></a><br />
			<% @counter += 1 %>
		<% end %>

		<br />
	<% end %>

	<input type="submit" value="confirm">
<% end -%>